
.formWrapper {
  display: flex;
  justify-content: center;
}
.form {
  border: 1px solid rgb(228, 228, 228);
  padding: 2rem;
  width: 400px;
  &__field {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    label {
      display: block;
      margin-bottom: 0.5rem;
    }
    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 1rem;
      box-sizing: border-box;
      border: 1px solid rgb(228, 228, 228);
      border-radius: 0.3rem;
      &:focus {
        outline: none;
      }
    }

    input[type="checkbox"] {
      margin-right: 0.5rem;
    }
  }
  &__actions {
    input {
      width: 100%;
      background-color: #ff5a5f;
      color: white;
      border-color: #ff5a5f;
      padding: 1rem 0;
      border-radius: 0.3rem;
    }
  }
  &__sharedLinks {
    margin-top: 1rem;
    a {
      color: black;
      margin-bottom: .5rem;
      display: block;
    }
  }
}